
html {
  width: 100%;
  min-width: 600px;
  min-height: 100%;
  margin: 0 0 0 0;
  font-family: 'Rubik', sans-serif; 
  display: flex;
  flex-direction: column;
  background-color: gray;
  overflow-x: hidden;
}

body{
width: 100%;
min-width: 600px;
min-height: 100vh;
margin: 0 0 0 0;
font-family: 'Rubik', sans-serif; 
flex-direction: column;
display: flex;
flex-wrap: wrap;
left: 0px;
overflow-x: hidden;
}

.cBody {
  position: fixed; /* statt absolute, damit es beim Scrollen bleibt */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/backrounds/BackroundMain.png") no-repeat center center;
  background-size: cover;
  margin: 0;
  z-index: -3;
}

.cBody3{
  width: 100vw;
  height: 100vh;
  top: 120px;
  position: absolute;
  background: url("../images/backrounds/BackroundMain.png");
  background-repeat: repeat; /* Verhindert Wiederholung des Bildes */
  background-position: center center; /* Zentriert das Bild */
  background-size: cover;
  margin: 0px;
  z-index: -3; /* Niedrigerer Wert als das andere Element */
  margin-bottom: 90px;
}

.cBody2{
width: 100vw;
height: 100vh;
  position: absolute;
  background: url("../images/LandingImg.png") center/cover no-repeat;
  background-repeat: repeat-y; /* Verhindert Wiederholung des Bildes */
  background-position: center center; /* Zentriert das Bild */
  background-size: cover; 
  margin: 0px;
  top: 120px;
  z-index: -3; /* Niedrigerer Wert als das andere Element */
  flex-wrap: wrap;
}



.c3DBody{
  width: 100vw;
  height: 120%;
  top: 0px;
  position: absolute;
  background: url("../images/backrounds/backround3D_1.png") center/cover no-repeat;
  background-repeat: repeat-y; /* Verhindert Wiederholung des Bildes */
  background-position: center center; /* Zentriert das Bild */
  background-size: cover;
  margin: 0px;
  z-index: -3; /* Niedrigerer Wert als das andere Element */
  margin-bottom: 90px;
}

header {
  width: 100%;
  min-width: 600px;
  left: 0px;
  top: 0px;
  height: 100%;
  margin: 0 0 0 0;
  font-family: 'Rubik', sans-serif; 
  display: flex;
  z-index: 5;
}

*{
  box-sizing: border-box;
}

summary {
  font-size: 20px; 
  font-weight: bold;
 }

 summary::before {
 font-size: 20px;
 }

a {
    color: black; /* Setzt die Textfarbe auf schwarz für alle <a>-Tags */
  }

  a[href] {
    color: #7A7A7A;
    text-decoration: none; /* Fügt den Unterstrich wieder hinzu */
  }

  a :hover{
    opacity: 1.0;
    color: black;
  }

  a[href] :hover {
    opacity: 1.0;
    color: black;
  }
  
  b{
  margin-bottom: 10px;
  }
  
  p{
  margin-top: 0px;
  margin-bottom: 5px;
  
  }
  h1{
  margin-bottom: 10px;
  }
  
  h3{
    position: static;
    padding: 5px 10px 0px 0px;
    margin: 5px 10px 0px 0px;
    display:inline;
    text-align: left;
    font-size: 16px; 
    font-weight: bold;
  }
  
  h4{
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 8px;
    display:inline;
    left: 0px;
    text-align: center;
  
  }
  

  input {
    cursor: pointer;
    color: #0c272b;  
    background-color: #7a7a7a11;
    font-size: 16px;
    font-style: inherit;
    font-weight: 700;
    line-height: normal;
    text-align: center; 
    border: 2px solid black;  /* oder was du brauchst */
    border-radius: 3px;
    opacity: 1.0;
  }

  


output{
  margin-top: 0 px;
  margin-bottom: 10 px;
  position:static;
  font-weight:bold;
  }
  
  button{
  cursor: pointer;
  color: #0c272b;  
  background-color: #7a7a7a11;
  font-size: 16px;
  font-style:inherit;
  font-weight: 700;
  line-height: normal;
  text-align: center; 
  border: 10px 10px 10px 10px;
  border-radius: 3PX;
  opacity: 1.0;
  }

  button:hover{
  }






  button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 10px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 40px;
    min-width: 90px;
    outline: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
   /* width: 30%; */
    will-change: transform;
    }
    
    button:disabled {
    pointer-events: none;
    }
    
    button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    }
    
    button:active {
    box-shadow: none;
    transform: translateY(0);
    }

  textarea{
  width: 350px ;
  height: 80px;
  background-color: rgb(247, 245, 245);
  font-size: 17px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  text-align: left; 
  border: 8px 8px 8px 8px;
  border-color: black;
  border-radius:  5px 5px 5px 5px;
  }

/*_____________________________________________________________________________*/


/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 24rem;
  min-width: 321px;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #2b8591;
  border-radius: 0rem;
  height: 0.4rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4.8px; /* Centers thumb on the track */
  background-color: #585656;
  border-radius: 0rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #585656;
  outline-offset: 0.125rem;
  border: none;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #2b8591;
  border-radius: 0rem;
  height: 0.4rem;
  border: none;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #585656;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #585656;
  outline-offset: 0.125rem;
}






.cIndexButton *   { 
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 40px;
  min-width: 90px;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
 /* width: 30%; */
  will-change: transform;
  }
  
  .cIndexButton:disabled *{
  pointer-events: none;
  }
  
  .cIndexButton:hover *  {
  color: #fff !important;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  }
  
  .cIndexButton:active * {
  box-shadow: none;
  transform: translateY(0);
  }









input[type="text"], input[type="email"] {
  width: 100%; /* Breite, z.B. 100% des Containers */
  max-width: 500px; /* Maximale Breite */
  height: 30px; /* Höhe des Eingabefeldes */
  padding: 10px; /* Innenabstand für besseren Komfort */
  font-size: 16px; /* Schriftgröße */
  border: 1px solid #ccc; /* Rahmenfarbe */
  border-radius: 5px; /* Abgerundete Ecken */
  box-sizing: border-box; /* Box-Modell für korrekte Brechnung */
}